{% extends "layout.html" %}

{% block body %}
<h2>{{ user.name }}</h2>

<div>
  <div>{{ user.email }}</div>
</div>

<div>
  <ul>
    <li><a href="{{ url_for('user_edit', user_id=user.id) }}">edit</a></li>
    <li><a class="user-delete-link" href="#" data-delete-url="{{ url_for('user_delete', user_id=user.id) }}">delete</a></li>
  </ul>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  $(function() {
    $(".user-delete-link").on("click", function() {
      var delete_url = $(this).attr('data-delete-url');
      $.ajax({
        url: delete_url,
        type: 'DELETE',
        success: function(response) {
          if (response.status == 'OK') {
            window.location = {{ url_for('user_list') }};
          } else {
            alert('Delete failed.')
          }
        }
      });
      return false;
    });
  });
</script>

{% endblock body %}