<!DOCTYPE html>
<title>Flaskr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Flaskr</h1>

  {% if session.user_id %}
    <a href="{{ url_for('logout') }}">logout</a>
    <a href="{{ url_for('show_entries') }}">entries</a>
    <a href="{{ url_for('user_list') }}">users</a>
  {% else %}
    <a href="{{ url_for('login') }}">login</a>
    <a href="{{ url_for('show_entries') }}">entries</a>
  {% endif %}

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>